<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Доступные книги</title>
</head>
<body>
<h1>Список всех доступных книг:</h1>
<ul>
    <li th:each="book: ${books}">Название: <span th:text="${book.getName}"></span>; Описание: <span th:text="${book.getDescription}"></span></li>
</ul>

</body>
</html>